.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* stretch children to fill the container */
  height: calc(100vh); /* Adjust for NavBar height */
}

.centered-row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-input {
  background-color: #222; /* Match container background */
  border-color: rgba(222, 226, 230, 0.75); /* Match container border */
  color: rgba(222, 226, 230, 0.75); /* Optional: set text color */
}